## Crypto

Collected from [Coinmetrics](https://www.coinmetrics.io) through Academic Research API

In [ ]:
from coinmetrics.api_client import CoinMetricsClient 
import pandas as pd 


client = CoinMetricsClient("") 

assets = ['1inch', 'aave', 'ada', 'alcx', 'algo', 'alpha', 'ant', 'ape', 'api3', 'atom',
          'audio', 'avax', 'badger', 'bal', 'bat', 'bch', 'bit', 'bnb', 'bnt',
          'bsv', 'btc', 'btg', 'busd', 'cel', 'comp', 'cro', 'crv', 'cvc', 'cvx',
          'dai', 'dash', 'dcr', 'dgb', 'doge', 'dot', 'drgn', 'elf', 'enj', 'ens',
          'eos', 'etc', 'eth', 'fida', 'fil', 'flow', 'ftt', 'fun', 'fxs', 'gala',
          'gas', 'glm', 'gno', 'gnt', 'grin', 'grt', 'gusd', 'hbtc', 'hedg', 'ht',
          'husd', 'icp', 'icx', 'knc', 'ldo', 'lend', 'link', 'loom', 'lpt', 'lrc',
          'lsk', 'ltc', 'luna', 'maid', 'mana', 'mkr', 'mtl_metal', 'near', 'neo', 'nmr',
          'ogn', 'omg', 'pax', 'paxg', 'pay', 'perp', 'poly', 'powr', 'ppt', 'qash',
          'qnt', 'qtum', 'ren', 'renbtc', 'rep', 'rook', 'rsr', 'sand', 'shib', 'skl',
          'snt', 'snx', 'sol', 'srm', 'storj', 'sushi', 'swrv', 'trx', 'tusd', 'uma',
          'uni', 'usdc', 'usdt', 'vet', 'vtc', 'waves', 'wnxm', 'wtc',
          'xaut', 'xem', 'xlm', 'xmr', 'xrp', 'xtz', 'xvg', 'yfi', 'zec', 'zil', 'zrx']



metrics = ['PriceUSD', 'TxCnt', 'CapMrktEstUSD', 'volume_trusted_spot_usd_1d', 'AdrActCnt'] 


asset_metrics = client.get_asset_metrics( 
    assets = assets, 
    metrics = metrics, 
    start_time= '2015-01-01', 
    end_time= '2025-05-31', 
    frequency='1d' 

).to_dataframe() 



df = pd.DataFrame(asset_metrics) 

df.to_csv('coinmetrics_crypto.csv', index=False)

## Gold

Collected from Refinitiv GOLDBLN

In [ ]:
import pandas as pd
import numpy as np


df_gold = pd.read_excel('To clean/gold_data.xlsx', sheet_name='data') ## Gold data 1 gold_data.xlsx

df_gold['date'] = pd.to_datetime(df_gold['date'])
df_gold.set_index('date', inplace=True)

full_index = pd.date_range(start=df_gold.index.min(), end=df_gold.index.max(), freq='D')

df_gold = df_gold.reindex(full_index).ffill()

df_gold.index.name = 'date'

df_gold.to_csv('Cleaned Datasets/new_gold_data.csv')

print(df_gold)

            symbol     high      low     open    close
date
2013-06-27  GLDBLN  1244.50  1223.49  1241.77  1228.28
2013-06-28  GLDBLN  1221.10  1180.70  1208.70  1215.43
2013-06-29  GLDBLN  1221.10  1180.70  1208.70  1215.43
2013-06-30  GLDBLN  1221.10  1180.70  1208.70  1215.43
2013-07-01  GLDBLN  1250.45  1225.81  1247.28  1246.84
...            ...      ...      ...      ...      ...
2025-06-23  GLDBLN  3398.50  3346.79  3356.83  3387.76
2025-06-24  GLDBLN  3370.56  3294.99  3332.43  3302.11
2025-06-25  GLDBLN  3336.95  3311.69  3331.59  3325.64
2025-06-26  GLDBLN  3350.09  3309.73  3334.19  3323.59
2025-06-27  GLDBLN  3328.16  3255.36  3297.75  3273.17

[4384 rows x 5 columns]

## VIX

Collected from [FRED](https://fred.stlouisfed.org/series/VIXCLS)

In [ ]:
import pandas as pd

df_vix = pd.read_csv('To clean/VIX_FRED.csv')
df_vix = df_vix.rename(columns={'observation_date': 'date', 'VIXCLS': 'VIX'})

df_vix['date'] = pd.to_datetime(df_vix['date'])
df_vix = df_vix.set_index('date')

full_index = pd.date_range(start=df_vix.index.min(), end=df_vix.index.max(), freq='D')

df_vix = df_vix.reindex(full_index).ffill()

df_vix.index.name = 'date'
df_vix.to_csv('Cleaned Datasets/new_vix.csv')

df_vix

              VIX
date
2015-01-01  19.20
2015-01-02  17.79
2015-01-03  17.79
2015-01-04  17.79
2015-01-05  19.92
...           ...
2025-05-27  18.96
2025-05-28  19.31
2025-05-29  19.18
2025-05-30  18.57
2025-05-31  18.57

[3804 rows x 1 columns]

## Fear and Greed Crypto

Collected from [alternative.me](https://api.alternative.me/fng/?limit=0&format=csv)

In [ ]:
import requests
import pandas as pd
from io import StringIO

url = "https://api.alternative.me/fng/?limit=0&format=csv"

response = requests.get(url)
response.raise_for_status()
start = response.text.find("fng_value")
csv_text = response.text[start:].strip()
df = pd.read_csv(StringIO(csv_text), names=["date", "fng_value", "fng_classification"], skiprows=1)
df["date"] = pd.to_datetime(df["date"], format="%d-%m-%Y", errors="coerce")
df = df.dropna(subset=["date"])
df = df.sort_values("date").reset_index(drop=True)

df.to_csv('Cleaned Datasets/new_fear_and_greed.csv')

           date  fng_value fng_classification
0    2018-02-01       30.0               Fear
1    2018-02-02       15.0       Extreme Fear
2    2018-02-03       40.0               Fear
3    2018-02-04       24.0       Extreme Fear
4    2018-02-05       11.0       Extreme Fear
...         ...        ...                ...
2717 2025-07-15       73.0              Greed
2718 2025-07-16       70.0              Greed
2719 2025-07-17       74.0              Greed
2720 2025-07-18       73.0              Greed
2721 2025-07-19       74.0              Greed

[2722 rows x 3 columns]

## Consumer Sentiment

Collected from [Surveys of Consumers - University of Michigan](https://data.sca.isr.umich.edu/)

In [ ]:
import pandas as pd

df_consumer_sentiment = pd.read_csv('To clean/Consumer sentiment data/sca-table1-on-2025-Jun-30.csv', header=1)

df_consumer_sentiment['date'] = df_consumer_sentiment['Month'].astype(str) + '/' + df_consumer_sentiment['Year'].astype(str)
df_consumer_sentiment['date'] = pd.to_datetime(df_consumer_sentiment['date'], format='%m/%Y')
df_consumer_sentiment = df_consumer_sentiment.rename(columns={'Index': 'ConSIX'})
df_consumer_sentiment = df_consumer_sentiment.drop(columns=['Month', 'Year', 'Unnamed: 3'], axis=1)
df_consumer_sentiment = df_consumer_sentiment.set_index('date')
df_consumer_sentiment = df_consumer_sentiment[df_consumer_sentiment.index >= '2015-01-01']

last_date = df_consumer_sentiment.index.max()
last_day = last_date + pd.offsets.MonthEnd(0)

# forwar filled missing dates in order to have daily data from 2015-01-01 to the last day of the last month
daily_index = pd.date_range(start=df_consumer_sentiment.index.min(), end=last_day, freq='D')
df_consumer_sentiment_daily = df_consumer_sentiment.reindex(daily_index, method='ffill')
df_consumer_sentiment_daily.index.name = 'date'

df_consumer_sentiment_daily.to_csv('Cleaned Datasets/new_consumer_sentiment.csv')
df_consumer_sentiment_daily

            ConSIX
date
2015-01-01    98.1
2015-01-02    98.1
2015-01-03    98.1
2015-01-04    98.1
2015-01-05    98.1
...            ...
2025-05-27    52.2
2025-05-28    52.2
2025-05-29    52.2
2025-05-30    52.2
2025-05-31    52.2

[3804 rows x 1 columns]

## Twitter Sentiment

Collected from [Harvard Dataverse](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/3IL00Q)

In [ ]:
import pandas as pd

years = range(2015, 2024) 

dfs = []

for year in years:
    path = f'To clean/twitter sentiment/Sentiment Data - World/num_posts_and_sentiment_summary_{year}.csv'
    df = pd.read_csv(path)
    dfs.append(df)

df_twitter_sentiment = pd.concat(dfs, ignore_index=True)

df_twitter_sentiment = df_twitter_sentiment.drop(columns=['N'],axis=1)
df_twitter_sentiment = df_twitter_sentiment.rename(columns={'DATE': 'date', 'SCORE': 'TwitSIX'})
df_twitter_sentiment['date'] = pd.to_datetime(df_twitter_sentiment['date'], format='%Y-%m-%d')
df_twitter_sentiment = df_twitter_sentiment.set_index('date')
df_twitter_sentiment['TwitSIX'].ffill(inplace=True)

cutoff = pd.to_datetime("2023-06-17")
df_twitter_sentiment = df_twitter_sentiment[df_twitter_sentiment.index <= cutoff]


df_twitter_sentiment.to_csv('Cleaned Datasets/new_twitter_sentiment.csv')
df_twitter_sentiment

/var/folders/40/rktqqvhn67376psyzng8whjc0000gn/T/ipykernel_5841/1628362909.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_twitter_sentiment['TwitSIX'].ffill(inplace=True)

             TwitSIX
date
2015-01-01  0.585549
2015-01-02  0.560854
2015-01-03  0.562550
2015-01-04  0.558479
2015-01-05  0.547815
...              ...
2023-06-13  0.602388
2023-06-14  0.596577
2023-06-15  0.604111
2023-06-16  0.610378
2023-06-17  0.622158

[3090 rows x 1 columns]

## Global Economic Monitor

Collected from [World Bank Group](https://datacatalog.worldbank.org/search/dataset/0037798)

In [ ]:
import pandas as pd
import numpy as np

df_GEM = pd.read_csv('To clean/Global Economic Monitor/P_Data_Extract_From_Global_Economic_Monitor_(GEM)/0c396af2-fd0d-46c8-8589-b49237586872_Data.csv')
df_GEM = df_GEM.dropna(how='all')
df_GEM.replace(['..', ''], np.nan, inplace=True)
df_GEM = df_GEM.dropna(axis=1, thresh=int(0.1 * len(df_GEM)))
df_GEM

keep_codes = ['[TOTRESV]', '[CPTOTSAXN]', '[IPTOTSAKD]', '[UNEMPSA_]']
id_cols = ['Time']
df_GEM = df_GEM[[col for col in df_GEM.columns if any(code in col for code in keep_codes) or col in id_cols]]
df_GEM.columns = [
    next((code.strip('[]') for code in keep_codes if code in col), col)
    for col in df_GEM.columns
]
df_GEM
df_GEM = df_GEM.iloc[:-2]
df_GEM = df_GEM.rename(columns={'Time': 'date', 'UNEMPSA_' : 'UnemRt', 'TOTRESV' : 'TotRes', 'IPTOTSAKD':'IndPro', 'CPTOTSAXN':'CPIPrc' })

df_GEM['date'] = pd.to_datetime(df_GEM['date'], format='%YM%m')
df_GEM = df_GEM.set_index('date')
df_GEM
# forward fill missing dates in order to have daily data from the first date to the last day of the last month
last_date = df_GEM.index.max()
last_day = last_date + pd.offsets.MonthEnd(0)
daily_index = pd.date_range(start=df_GEM.index.min(), end=last_day, freq='D')
df_GEM_daily = df_GEM.reindex(daily_index, method='ffill')
df_GEM_daily.index.name = 'date'

df_GEM_daily.to_csv('Cleaned Datasets/new_GEM.csv')

df_GEM_daily

                      TotRes         UnemRt            IndPro      CPIPrc
date
2015-01-01  12187615.5899265  7.24792462196  1538620156444.79  113.897084
2015-01-02  12187615.5899265  7.24792462196  1538620156444.79  113.897084
2015-01-03  12187615.5899265  7.24792462196  1538620156444.79  113.897084
2015-01-04  12187615.5899265  7.24792462196  1538620156444.79  113.897084
2015-01-05  12187615.5899265  7.24792462196  1538620156444.79  113.897084
...                      ...            ...               ...         ...
2025-05-27               NaN            NaN               NaN  183.793950
2025-05-28               NaN            NaN               NaN  183.793950
2025-05-29               NaN            NaN               NaN  183.793950
2025-05-30               NaN            NaN               NaN  183.793950
2025-05-31               NaN            NaN               NaN  183.793950

[3804 rows x 4 columns]

## Economic Policy Uncertainty

Collected from:  
- Daily US-Only: [Economic Policy Uncertainty](https://www.policyuncertainty.com/media/All_Daily_Policy_Data.csv)

In [ ]:
import pandas as pd

df_EPU_US_D = pd.read_csv("To clean/Economic Policy Uncertainty/All_Daily_Policy_Data_2.csv") 
df_EPU_US_D['date'] = df_EPU_US_D['day'].astype(str) + '-' + df_EPU_US_D['month'].astype(str) + '-' + df_EPU_US_D['year'].astype(str)
df_EPU_US_D = df_EPU_US_D.drop(columns=['day', 'month', 'year'], axis=1)
df_EPU_US_D['date'] = pd.to_datetime(df_EPU_US_D['date'], format='%d-%m-%Y')
df_EPU_US_D = df_EPU_US_D.set_index('date')
df_EPU_US_D = df_EPU_US_D.rename(columns={'daily_policy_index': 'EPU_DUS'})
df_EPU_US_D = df_EPU_US_D[df_EPU_US_D.index >= '2015-01-01']

df_EPU_US_D.to_csv('Cleaned Datasets/new_EPU.csv')
df_EPU_US_D

            EPU_DUS
date
2015-01-01   137.22
2015-01-02    93.14
2015-01-03    79.59
2015-01-04   163.12
2015-01-05    90.66
...             ...
2025-06-25   346.08
2025-06-26   242.84
2025-06-27   300.03
2025-06-28   360.69
2025-06-29   791.20

[3833 rows x 1 columns]

## Investor Sentiment Data

Collected from [American Association of Individual Investors](https://www.aaii.com/sentimentsurvey/sent_results)

In [ ]:
import pandas as pd

df_invsent= pd.read_excel('To clean/Investor Sentiment data/sentiment_2.xls', sheet_name='SENTIMENT', header=3, skipfooter= 205)
df_invsent = df_invsent.rename(columns={'Date': 'date'})
df_invsent = df_invsent.set_index('date')
df_invsent = df_invsent[df_invsent.index >= '2015-01-01']

keep = ['Bearish', 'Bullish']
df_invsent= df_invsent.drop(columns=[col for col in df_invsent.columns if col not in keep])
df_invsent['InvSIX'] = df_invsent['Bullish'] - df_invsent['Bearish']

df_invsent.index = pd.to_datetime(df_invsent.index)
df_invsent = df_invsent.sort_index()
daily_index = pd.date_range(start=df_invsent.index.min(), end=df_invsent.index.max(), freq='D')
df_invsent_daily = df_invsent.reindex(daily_index, method='ffill')
df_invsent_daily.index.name = 'date'

df_invsent_daily.to_csv('Cleaned Datasets/new_investor_sentiment.csv')

df_invsent_daily.tail()

             Bullish   Bearish    InvSIX
date
2025-06-01  0.328904  0.418605 -0.089701
2025-06-02  0.328904  0.418605 -0.089701
2025-06-03  0.328904  0.418605 -0.089701
2025-06-04  0.328904  0.418605 -0.089701
2025-06-05  0.326599  0.414141 -0.087542